*{
    margin: 0;
    padding: 0;
}



body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(33, 0, 31);;
}

.left{
    font-size: 1.5rem;
}

nav ul{
    display: flex;
    justify-content: center;

}

nav ul li  {
    list-style: none;
    margin: 0 23px;
 
}

nav ul li a{
    color: white;
    text-decoration: none;
}


nav ul li a:hover{
    cursor: pointer;
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;


}

.firstSection > div{
    width: 30%;
}

.leftSection{
    font-size: 3rem;
}

.rightSection img{
    width: 80%;
    margin-left: 80px;;
}

.purple{
    color: rgb(43, 67, 226);
}

#element{
    color: rgb(43, 67, 226);
}



.About{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-left: 60px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
display: flex;
margin: 20px 0 40px;
}

.Tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.Tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.Tab-links.active-links::after{
width: 50%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-content ul span{
    color: #b54769;
    font-size: 14pxs;
}